<div class="text-center">
    <div class="card-body">
        <h3 class="card-title"> Cadastro de Participante</h3>
    </div>
</div>
<form class="formulario" (ngSubmit)="cadastrar()">
    <div class="container">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input class="form-control" id="nome" type="text" [(ngModel)]="nome" name="nome" placeholder="Nome" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">E-mail</label>
                <input class="form-control" id="email" type="text" [(ngModel)]="email" name="email" placeholder="E-mail" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Turma</label>
                <select class="form-control" id="turma">
                <option *ngFor="let turma of turmas" [value]="turma.id">{{turma.id+" - "+turma.descricao+" - "+turma.tipo}}</option>
              </select>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Observação</label>
                <input class="form-control" id="observacao" type="text" [(ngModel)]="observacao" name="observacao" />
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <button type="submit" class="btn btn-outline-primary">Cadastrar Participantes</button>
            </div>
        </div>
    </div>
    <br>
</form>
