<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink='home'>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='listaParticipantes'>Lista de Participantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='listaTurmas'>Lista de Turmas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastro
          </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink='cadastroParticipantes'>Paticipantes</a></li>
                        <li><a class="dropdown-item" routerLink='cadastroTurmas'>Turmas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="footer">
        <div class="text-center">
            <div class="card-body ">
                <h3 class="card-title text-white"> Siga-nos nas redes sociais</h3>
            </div>
        </div>
        <div class="row">
            <ul>
                <a href="https://www.facebook.com/generationbrasil/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/generationbrasil/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/school/generationbrasil/"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/generation_bra"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/watch?v=0Z738ggjz50&feature=youtu.be"><i class="fa fa-youtube"></i></a>
            </ul>
        </div>
    </div>
</footer>
