<div class="text-center">
    <div class="card-body">
        <h3 class="card-title"> Lista de Turmas</h3>
    </div>
</div>
<br>
<div class="container">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Participantes</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let y of turmas">
                    <th scope="row">{{y.id}}</th>
                    <td>{{y.descricao}}</td>
                    <td>{{y.tipo}}</td>
                    <td>
                        <div class="badge bg-warning text-wrap" style="width: 6rem;">
                            <i *ngFor="let x of y?.participantes">{{x.nome}} - </i>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info mx-3">Editar</button>
                        <button type="button" class="btn btn-outline-danger">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
