<div class="text-center">
    <div class="card-body">
        <h3 class="card-title">Secretaria Online</h3>
    </div>
</div>
<section class="page-section">
    <main id="main" class="site-main" role="main">
        <section class="page-section">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text-justify"> O objetivo dessa aplicação é testar as habilidades técnicas dos(as) novos(as) instrutores de desenvolvimento web front-end.</p>
                            <p class="text-justify">A generation está buscando instrutores para facilitar treinamentos para jovens beneficiados pelo Programa Generation -Desenvolvedor Java Jr. O Programa busca qualificar e inserir jovens no mercado de trabalho com uma formação
                                rápida no estilo bootcamp.
                            </p>
                            <p class="text-justify">O instrutor será responsável por facilitar sessões nas quais os jovens desenvolverão habilidades técnicas e socioemocionais para qualifica-los para vagas em empregadores parceiros da Generation.</p>
                        </div>
                        <div class="column medium-3">
                            <div class="video margin-bottom-1dot5">
                                <iframe title="vimeo-player" src="https://player.vimeo.com/video/328192920" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>
